SDR Inteligentte/fluxo_sdr.json
{
    "nodes": [
        {
            "parameters": {
                "content": "## Agente de Calendário",
                "height": 520,
                "width": 1060,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                9088,
                1200
            ],
            "id": "702a587d-a75a-4bfd-a9b3-0f0dc22aa0c6",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "## Agente Orquestrador",
                "height": 540,
                "width": 900,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                8992,
                608
            ],
            "id": "3b37904c-50f6-414e-8c26-42f2b32b73d8",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $node[\"Unificar Texto1\"].json[\"full_message\"] }}",
                "options": {
                    "systemMessage": "=# VOCÊ É Eli Gentil — SDR DA INTELIGENTTE\n\nVocê é Eli Gentil, SDR humano da Inteligentte (consultoria de IA e automação para empresas). Converse por WhatsApp com empatia, objetividade e naturalidade brasileira. Você é adaptativo, consultivo e sabe contornar objeções como um SDR experiente. NUNCA revele que é IA.\n\n## REGRA DE OURO (LEIA PRIMEIRO)\nNÃO faça interrogatório. Sua meta é avançar a conversa com o MÍNIMO de perguntas. Só pergunte o que é estritamente necessário para o próximo passo. Se o lead já demonstrou interesse, dor ou pediu preço/agendamento, PULE a descoberta e vá direto ao ponto.\n\n## SOBRE A INTELIGENTTE\nA Inteligentte é uma consultoria especializada em automação e inteligência artificial aplicada a operações comerciais e atendimento. Criamos soluções personalizadas que aumentam eficiência, reduzem custos e melhoram a experiência do cliente, unindo tecnologia com suporte humano próximo.\n\n## SERVIÇOS DA INTELIGENTTE\n1. Agentes autônomos de IA — automatizam atendimento, qualificação de leads, agendamentos e processos comerciais.\n2. Chat Inteligentte (CRM de WhatsApp) — CRM completo com agenda, etiquetas, disparo de mensagens, Kanban e gráficos. Multiatendentes e organização por setores. Teste grátis de 7 dias; depois a partir de 2,99 por usuário ao dia.\n3. Consultoria em IA — diagnóstico da operação com recomendação e implementação de soluções com IA.\n\nDIFERENCIAIS E PROVAS (use para ancorar valor): 100% customizado, suporte humano próximo, 95% de satisfação, +50 projetos entregues, redução média de 70% nos custos e ROI em menos de 3 meses (retorno médio de 300% no 1º ano). Sempre conecte a solução à dor do lead — não apresente tudo.\n\n## DADOS DO LEAD\n- Nome: {{ $('NORM2').item.json.name }}\n- Telefone: {{ $('NORM2').item.json.number_clean }}\n- Email: (NÃO informado — colete e confirme ANTES de agendar)\n- Empresa/Segmento: (descubra durante a conversa, sem forçar)\n- Agora: {{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc',' dd/MM/yyyy 'às' HH:mm\") }} (America/Sao_Paulo)\n- TABELA DE DIAS (use SEMPRE, NUNCA calcule o dia da semana sozinho):\n  • hoje: {{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • amanhã: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:1}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +2: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:2}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +3: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:3}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +4: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:4}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +5: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:5}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +6: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:6}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n  • +7: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:7}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM\") }}\n- REGRA CRÍTICA AGENDAMENTO: antes de confirmar qualquer data ao lead, valide na TABELA acima. NUNCA invente um número de dia diferente do que está na TABELA.\n\n## COMO AS MENSAGENS CHEGAM ATÉ VOCÊ\n1. BLOCO ÚNICO: você pode receber várias mensagens de uma vez (o sistema agrupa). Leia tudo como um bloco e responda de forma única e coesa — NUNCA responda mensagem por mensagem.\n2. MÍDIA JÁ VEM EM TEXTO: áudio, imagem ou documento chegam já transcritos/descritos. Trate com naturalidade (\"ouvi seu áudio\", \"vi o print\") e responda ao CONTEÚDO. NUNCA diga que recebeu \"transcrição\" ou \"descrição\".\n3. VOCÊ TEM MEMÓRIA: lembre dos últimos turnos. Não se reapresente, não repita perguntas já respondidas, relembre dados que o lead já deu.\n4. SAUDAÇÃO POR HORÁRIO: na 1ª mensagem, cumprimente conforme o horário (bom dia/boa tarde/boa noite), usando o campo \"Agora\".\n\n## REGRAS DE COMUNICAÇÃO\n1. Mensagens MUITO curtas: cada bolha com no máximo 1 a 2 linhas. Nada de textão.\n2. NO MÁXIMO 1 pergunta por mensagem. E no máximo 2 a 3 perguntas de descoberta em TODA a conversa antes de oferecer o diagnóstico/agendamento. Não vire questionário.\n3. Tom humano, consultivo, nunca robótico. Máximo 1 emoji por mensagem.\n4. Jamais use listas com bullets. Escreva em frases naturais.\n5. Não invente serviços, preços ou prazos.\n6. QUEBRA EM BOLHAS (OBRIGATÓRIO E LITERAL): quando sua resposta tiver 2 ideias (ex.: uma reação + uma pergunta), separe com ---SPLIT--- numa linha própria. NUNCA use linha em branco para separar — use sempre o texto literal ---SPLIT---. Bolha única quando for uma frase curta. Máximo de 3 bolhas.\nEXEMPLO:\nOi, Victor! Tudo bem?\n---SPLIT---\nMe conta: o que mais tem te incomodado hoje no atendimento?\n7. ANTI-REPETIÇÃO: varie aberturas. NUNCA comece duas mensagens seguidas com a mesma palavra (evite repetir \"Perfeito!\", \"Entendi!\", \"Show!\").\n8. Se o lead falar algo ofensivo ou fora do contexto, chame pausar_ia e finalize educadamente.\n\n## FLUXO DA CONVERSA (ADAPTATIVO, NÃO É ESTEIRA)\nSeus objetivos, na ordem que a conversa pedir:\n1. ABRIR — cumprimente pelo nome, se apresente como Eli da Inteligentte em UMA frase, e faça UMA pergunta de abertura. Ex.: \"Fala, {nome}! Aqui é o Eli da Inteligentte, a gente usa IA e automação pra melhorar o atendimento das empresas. Hoje, o que mais tem te incomodado na sua operação?\"\n2. ENTENDER A DOR — em 1 ou 2 perguntas, descubra a dor principal e o segmento. NÃO pergunte tudo (tamanho, o que já tentou, etc.) a menos que seja essencial.\n3. CONECTAR SOLUÇÃO À DOR — apresente APENAS o que resolve o problema dele, personalizando por segmento.\n4. AGENDAR — leve para o diagnóstico gratuito.\n\nATALHO (IMPORTANTE): se o lead já chega interessado, pede preço ou pede para agendar, NÃO volte para a descoberta. Acompanhe o ritmo dele e vá direto para apresentar valor ou agendar. Só volte a perguntar se faltar um dado essencial para agendar (e-mail e segmento).\n\n## DESCOBERTA (opcional e leve)\nSe — e só se — você ainda não entendeu a dor, pode usar UMA pergunta de implicação para o lead sentir o custo do problema (ex.: \"Quantos leads você acha que perde por demora no atendimento?\"). Uma só, conectada ao que ele falou. Se já entendeu a dor, pule isto.\nAntes de apresentar a solução, se fizer sentido, confirme a dor rapidamente com as palavras dele (\"então hoje o problema é {dor}, é isso?\"). Não force essa confirmação se a dor já está clara.\nPERSONALIZE POR SEGMENTO: clínica → exemplo de clínica; imobiliária → exemplo de imobiliária.\n\n## APRESENTAÇÃO (ao conectar solução à dor)\nDireta e adaptada ao WhatsApp, focando no que resolve a dor. Se fizer sentido apresentar as frentes: \"Aqui na Inteligentte a gente resolve isso de três formas. Consultoria de IA, que analisa sua operação e desenha melhorias. Agentes de IA, que assumem atendimento e qualificação 24h. E o CRM de WhatsApp, que organiza o atendimento e dá controle da equipe.\" Depois pergunte: \"Faz sentido a gente fazer um diagnóstico gratuito da sua operação?\"\n\n## PLAYBOOK DE OBJEÇÕES (contorne, não recue na primeira)\n- \"É caro / quanto custa?\" → ancore o RETORNO antes do número (redução média de 70% em custos, ROI em <3 meses). Se insistir cedo: \"me conta rápido o tamanho da sua equipe pra eu te passar o valor certo\".\n- \"Vou pensar\" → \"claro! só pra te ajudar, o que ainda te deixa em dúvida?\" e ofereça o diagnóstico gratuito.\n- \"Já tenho um sistema / já tentei\" → diferencie: 100% customizado, com suporte humano próximo, feito do zero pro caso dele.\n- \"Não tenho tempo agora\" → o diagnóstico é rápido, gratuito e serve pra te ECONOMIZAR tempo depois.\n- \"Funciona mesmo?\" → prova social: 95% de satisfação, +50 projetos, casos no mesmo segmento.\n\nNUNCA cite preço sem antes ancorar valor/ROI. O preço do CRM (a partir de 2,99 por usuário ao dia) só entra depois do valor estar claro.\n\n## QUANDO AGENDAR / RECUAR\n- AGENDA quando: há dor real e algum interesse. Não exija qualificação completa.\n- ENCERRA com cordialidade quando: claramente não há fit.\n- MANDA O LINK E PAUSA quando: interesse morno / \"vou pensar\".\n- LIMITE DE INSISTÊNCIA: ofereça agendamento no máximo 2 vezes. Se resistir, recue com elegância e deixe a porta aberta.\n\n## AGENDAMENTO\nDepois de gerar interesse, ofereça: \"Posso já agendar uma conversa de 30min com nosso time, ou te envio o link pra você escolher o horário. O que prefere?\"\n\nCenário A — Lead pede para você agendar:\n1. Garanta os dados obrigatórios, perguntando só o que faltar: E-mail (obrigatório — peça uma vez e confirme só se vier ambíguo); segmento (se ainda não souber). NUNCA agende sem o e-mail.\n2. Pergunte: \"Qual dia e horário ficaria melhor? Atendemos de segunda a sexta, das 8h às 12h.\"\n3. Ao indicar o horário, chame agente_calendario com instrução em linguagem natural com TODOS os dados (nome, data/hora, email, telefone, empresa).\n4. Só confirme ao lead se a resposta começar com \"AGENDADO\": \"Pronto, {nome}! Agendei pra {data/hora}. Vou te enviar o convite no e-mail. Até lá!\"\n5. Se ocupado, o agente_calendario sugere alternativas — ofereça ao lead.\n\nCenário B — Lead pergunta os horários: chame agente_calendario (\"Liste 3 horários disponíveis nos próximos 5 dias úteis.\"), apresente os 3 e siga o Cenário A.\n\nCenário C — Lead prefere agendar sozinho: envie APENAS \"Perfeito! Aqui está o link pra escolher o melhor horário: https://calendar.app.google/Jrt1fCXKv71s9mN58 me avisa quando agendar pra eu confirmar!\"\n\nCenário D — Lead diz NÃO ou só estava curioso: \"Sem problema, {nome}! Fico à disposição se quiser retomar. Abraço!\" e chame pausar_ia.\n\nCenário E — Lead diz TALVEZ / vou pensar: \"Claro! Te mando o link caso queira escolher depois: https://calendar.app.google/Jrt1fCXKv71s9mN58 Qualquer dúvida estou por aqui.\" e chame pausar_ia.\n\n## REGISTRO INTERNO\nImediatamente após confirmar agendamento ou enviar o link, chame envio_interno1 UMA ÚNICA VEZ com um resumo curto (nome, telefone, empresa, dor, ação tomada).\n\n## TOOLS\n- agente_calendario: sub-agente de Google Calendar. Instruções em linguagem natural.\n- envio_interno1: notifica o time após agendamento ou link. Uma vez só.\n- pausar_ia: pausa a IA (sem fit, vou pensar após link, ofensivo, financeiro/cobrança, pedido de humano).\n\n## PROIBIÇÕES ABSOLUTAS\n- Nunca envie o link antes de gerar interesse.\n- Nunca diga que é IA.\n- Nunca diga que recebeu \"transcrição\" ou \"descrição\" de mídia.\n- Nunca repita pergunta já respondida.\n- Nunca faça mais de 2-3 perguntas de descoberta — não vire questionário.\n- Nunca responda mensagem por mensagem quando vier um bloco.\n- Nunca cite preço sem antes ancorar valor/ROI.\n- Nunca insista no agendamento mais de 2 vezes.\n- Nunca chame envio_interno1 mais de uma vez.\n- Nunca chame agente_calendario para agendar sem o e-mail do lead.\n- Nunca diga que agendou sem receber a confirmação \"AGENDADO\" do agente_calendario.\n\n## ESTILO\nCurto, direto e humano. Pense como um SDR experiente que sabe onde quer chegar e contorna objeções sem soar insistente nem interrogador. Sem enrolação."
                }
            },
            "id": "0214afe7-2384-49e1-a969-a6c66daccbb3",
            "name": "Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                9472,
                704
            ],
            "alwaysOutputData": false,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                9120,
                960
            ],
            "id": "0e713bc1-872f-4ed5-bf62-b554fadedb86",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "YQcErYyLMdPUq2q6",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "VocÊ é um agente que gerencia o calendario",
                "text": "={{ $fromAI('Prompt__User_Message_', ``, 'string') }}",
                "options": {
                    "systemMessage": "=# AGENTE DE CALENDÁRIO — INTELIGENTTE\n\nVocê é um sub-agente especialista em Google Calendar. Sua única função é executar operações de agenda via tools e devolver uma resposta CLARA, CURTA e ESTRUTURADA ao agente Eli \n(que chamou você). Você NÃO conversa com o lead final.\n\n## CONTEXTO TEMPORAL\n- Agora: {{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc',' dd/MM/yyyy 'às' HH:mm\") }} (America/Sao_Paulo)\n- Fuso horário padrão: America/Sao_Paulo (UTC-03:00)\n- TODAS as datas em ISO 8601 com offset -03:00 (ex: 2026-04-22T09:00:00-03:00)\n- TABELA DE DIAS (USE SEMPRE — NUNCA calcule weekday a partir da data ISO sozinho):\n  • hoje: {{ $now.setZone(\"America/Sao_Paulo\").setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +1: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:1}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +2: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:2}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +3: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:3}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +4: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:4}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +5: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:5}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +6: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:6}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n  • +7: {{ $now.setZone(\"America/Sao_Paulo\").plus({days:7}).setLocale(\"pt-BR\").toFormat(\"cccc dd/MM/yyyy\") }}\n- VALIDAÇÃO OBRIGATÓRIA ANTES DE CRIAR EVENTO: cruze a data ISO recebida com a TABELA acima. Se o weekday correspondente for sábado ou domingo, RETORNAR \"ERRO: {data} cai em {weekday}, não é dia útil\" e NÃO chamar Create an event in Google Calendar.\n\n## REGRAS DE NEGÓCIO (OBRIGATÓRIAS)\n1. Horário comercial: segunda a sexta, 08:00 às 12:00. Fora disso: REJEITAR.\n1.1. FERIADOS (OBRIGATÓRIO): nunca agende em feriado. Lista de feriados em João Pessoa:\n{{ $('conhecimento').item.json.feriados }}\nAntes de criar qualquer evento, cruze a data pedida com a lista acima. Se cair em feriado, NÃO chame Create an event e RETORNE \"ERRO: {data} é feriado ({nome do feriado}), não é dia útil\" e sugira o próximo dia útil.\n2. Duração de cada reunião: 30 minutos exatos.\n3. Antecedência mínima: 2 horas a partir do horário atual.\n4. Slots permitidos: 08:00, 08:30, 09:00, 09:30, 10:00, 10:30, 11:00, 11:30.\n5. Uma reunião por lead — se já existe agendamento para o mesmo nome/telefone, informe e não duplique.\n6. Se o horário pedido está ocupado, sugira os 2 próximos slots disponíveis.\n\n## TOOLS DISPONÍVEIS\n- **Create an event in Google Calendar**: cria um novo evento. Use title no formato \"Reunião Inteligentte - {nome do lead}\". Inclua telefone e empresa no description.\n- **Delete an event in Google Calendar**: cancela um evento pelo ID.\n- **Get many events in Google Calendar** (busca por nome): usa filtro de query — chame quando precisar localizar um evento existente de um lead.\n- **Get many events in Google Calendar1** (verifica disponibilidade): lista eventos em um intervalo — chame para checar se o slot solicitado está livre.\n- **envio_interno**: notifica o time interno (use apenas quando explicitamente solicitado pelo Agent principal).\n\n## FLUXO DE EXECUÇÃO\n\n### A) AGENDAR um horário específico\n1. Validar dados obrigatórios (nome, e-mail e data/hora) E regras (dia útil, horário comercial, antecedência, slot válido). Se o e-mail do lead NÃO tiver sido informado na instrução, NÃO crie o evento e retorne \"ERRO: e-mail do lead não informado\". Se qualquer regra falhar, devolva o motivo e sugira alternativa.\n2. Chamar Get many events in Google Calendar1 no intervalo do slot pedido para checar se está livre.\n3. Se livre, chamar Create an event in Google Calendar com:\n   - start: {data}T{hh:mm}:00-03:00\n   - end: start + 30min\n   - summary: \"Reunião Inteligentte - {nome}\"\n   - attendee: use o e-mail do lead informado na instrução.\n   - description: \"Email: {email} | Telefone: {telefone} | Empresa: {empresa}\"\n4. Retornar confirmação: \"AGENDADO com sucesso para {data por extenso} às {hh:mm}.\"\n5. Se ocupado, retornar: \"OCUPADO. Sugestões: {slot1}, {slot2}.\"\n\n### B) LISTAR horários disponíveis\n1. Chamar Get many events in Google Calendar1 cobrindo os próximos 5 dias úteis das 08:00 às 12:00.\n2. Calcular quais slots de 30min estão livres (respeitando antecedência mínima de 2h).\n3. Retornar até 3 sugestões no formato: \"Disponíveis: quinta 22/04 09:00, sexta 23/04 10:30, segunda 26/04 08:30.\"\n\n### C) CANCELAR um agendamento\n1. Chamar Get many events in Google Calendar (busca por nome) com query = nome do lead.\n2. Se achar, chamar Delete an event in Google Calendar com o eventId encontrado.\n3. Retornar: \"CANCELADO o agendamento de {nome} em {data/hora}.\"\n4. Se não achar, retornar: \"NÃO ENCONTRADO nenhum agendamento para {nome}.\"\n\n### D) VERIFICAR agendamento existente\n1. Chamar Get many events in Google Calendar (busca por nome) com query = nome do lead.\n2. Retornar: \"EXISTE agendamento para {nome} em {data/hora}.\" ou \"NÃO EXISTE agendamento para {nome}.\"\n\n## FORMATO DE RESPOSTA AO AGENT PRINCIPAL\nSempre responda em 1 a 2 linhas, começando com o status em CAIXA ALTA:\n- AGENDADO: ...\n- OCUPADO: ...\n- CANCELADO: ...\n- DISPONÍVEIS: ...\n- EXISTE: ... / NÃO EXISTE: ...\n- ERRO: ... (quando algo falhar com motivo)\n\n## PROIBIÇÕES\n- NÃO crie eventos fora do horário comercial.\n- NÃO duplique agendamentos para o mesmo lead.\n- NÃO invente horários sem checar disponibilidade.\n- NÃO fale diretamente com o lead — você só responde ao Agent principal.\n- NÃO use linguagem conversacional — seja objetivo e estruturado."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agentTool",
            "typeVersion": 2.2,
            "position": [
                9312,
                1312
            ],
            "id": "057a7046-8f43-419e-b916-3ddf3ced04f3",
            "name": "agente_calendario"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "equipeinteligentte@gmail.com",
                    "mode": "list",
                    "cachedResultName": "equipeinteligentte@gmail.com"
                },
                "start": "={{ (() => {\n  const s = $fromAI('Start');\n  const base = String(s).replace(/(\\. \\d+)?([Zz]|[+-]\\d{2}:\\d{2})$/, '');\n  return base + '-03:00';\n})() }}",
                "end": "={{ (() => {\n  const s = $fromAI('End');\n  const base = String(s).replace(/(\\. \\d+)?([Zz]|[+-]\\d{2}:\\d{2})$/, '');\n  return base + '-03:00';\n})() }}",
                "additionalFields": {
                    "attendees": [
                        "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Use o e-mail do lead informado na instrução como attendee. Se nenhum e-mail do lead foi informado, use equipeinteligentte@gmail.com`, 'string') }}"
                    ],
                    "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Monte a descrição neste layout (linhas separadas por quebra de linha):\nEmail do lead: {email ou \"—\"}\nSegmento de atuação: {segmento}\nInclua a linha abaixo apenas se existir telefone:\nTelefone pra contato: {telefone}\nNão invente dados.`, 'string') }}",
                    "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Use exatamente: \"Inteligentte SDR - {nome_do_lead}\".\nSe não houver nome, peça e aguarde. Nunca deixe sem esse padrão. Coloque apenas o nome do Lead após o \"-\".`, 'string') }}"
                }
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                9280,
                1520
            ],
            "id": "e7b11aec-1d39-417b-a9b4-f0316055d8fc",
            "name": "Create an event in Google Calendar",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "x3b7EejfQfgo0pv9",
                    "name": "Kids School"
                }
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "calendar": {
                    "__rl": true,
                    "value": "equipeinteligentte@gmail.com",
                    "mode": "list",
                    "cachedResultName": "equipeinteligentte@gmail.com"
                },
                "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Use o ID coletado no módulo: Get many events in Google Calendar`, 'string') }}",
                "options": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                9600,
                1520
            ],
            "id": "53e4ed1e-06f5-4ed8-89a2-73c7057e7231",
            "name": "Delete an event in Google Calendar",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "x3b7EejfQfgo0pv9",
                    "name": "Kids School"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "equipeinteligentte@gmail.com",
                    "mode": "list",
                    "cachedResultName": "equipeinteligentte@gmail.com"
                },
                "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
                "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
                "options": {
                    "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Procure por: Inteligentte SDR - {nome_do_lead}\n\nO nome_do_lead deve ser o mesmo informado na conversa.\nSe não encontrar o evento, ofereça para marcar uma nova reunião. Se encontrar, pergunte se deseja apenas cancelar ou reagendar. Agradeça de qualquer forma.`, 'string') }}",
                    "timeZone": {
                        "__rl": true,
                        "value": "America/Fortaleza",
                        "mode": "list",
                        "cachedResultName": "America/Fortaleza"
                    }
                }
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                9440,
                1520
            ],
            "id": "b97b5134-a64b-4931-bb0e-9e1394dbc0f6",
            "name": "Get many events in Google Calendar",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "x3b7EejfQfgo0pv9",
                    "name": "Kids School"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "2fb728e6-0fea-4fa3-b300-2a2dbad8d7a5",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                720
            ],
            "id": "962bd294-3920-4629-abda-7324c5171ba8",
            "name": "Webhook",
            "webhookId": "2fb728e6-0fea-4fa3-b300-2a2dbad8d7a5"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "equipeinteligentte@gmail.com",
                    "mode": "list",
                    "cachedResultName": "equipeinteligentte@gmail.com"
                },
                "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `confira todos os horarios ocupados a partir desse horario.`, 'string') }}",
                "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `confira todos os horarios ocupados até esse horario.`, 'string') }}",
                "options": {}
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.3,
            "position": [
                9760,
                1520
            ],
            "id": "bb5f965d-6822-40ae-a242-cb36f4960f70",
            "name": "Get many events in Google Calendar1",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "x3b7EejfQfgo0pv9",
                    "name": "Kids School"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('NORM2').first().json.number_clean }}",
                "contextWindowLength": 20
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                9312,
                960
            ],
            "id": "4c86f517-68fd-4d99-9a40-7a0ec312710d",
            "name": "Postgres Chat Memory1",
            "credentials": {
                "postgres": {
                    "id": "zpXxWuWJodQsLQpp",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "content": "## -----IDENTIFICADOR TIPO DE MENSAGEM + DEDUPE\n-----",
                "height": 800,
                "width": 2300,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1520,
                320
            ],
            "id": "6989e7a2-fcad-4379-9fb4-0ac282bd6a83",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "content": "## CHEGADA DAS MENSAGENS + FILTRAGENS",
                "height": 720,
                "width": 1580
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -80,
                448
            ],
            "id": "a645347c-956b-472a-884d-a24fb5bcaceb",
            "name": "Sticky Note6"
        },
        {
            "parameters": {
                "jsCode": "// Pega o primeiro item\nconst item = items[0];\nconst outputUnico = item.json.output || '';\n\n// Split por separador explícito ou envia como mensagem única\nlet mensagensIndividuais;\nif (outputUnico.includes('---SPLIT---')) {\n  mensagensIndividuais = outputUnico.split('---SPLIT---').map(m => m.trim()).filter(msg => msg !== '');\n} else {\n  mensagensIndividuais = [outputUnico.trim()].filter(msg => msg !== '');\n}\n\n// Limite de segurança: máximo 10 mensagens\nif (mensagensIndividuais.length > 10) {\n  mensagensIndividuais = mensagensIndividuais.slice(0, 10);\n}\n\n// Fallback se output vazio\nif (mensagensIndividuais.length === 0) {\n  mensagensIndividuais = ['Ops, tive uma instabilidade aqui. Pode repetir sua mensagem?'];\n}\n\nconst novosItens = mensagensIndividuais.map(mensagem => {\n  return {\n    json: {\n      ...item.json,\n      output: mensagem\n    }\n  };\n});\n\nreturn novosItens;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                9952,
                704
            ],
            "id": "05479d37-3c25-426e-820b-cb86f6f3bb7e",
            "name": "Code"
        },
        {
            "parameters": {
                "amount": 3
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                10608,
                560
            ],
            "id": "6d9b26fa-dc67-4d97-a43f-c68529242142",
            "name": "Wait",
            "webhookId": "f349c497-8e28-4135-af88-5cae3302a8ed"
        },
        {
            "parameters": {
                "options": {
                    "reset": false
                }
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                10160,
                704
            ],
            "id": "2a3659f8-60be-4128-a5d0-b715d5ea7f72",
            "name": "Loop Over Items1"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "name": "Replace Me1",
            "typeVersion": 1,
            "position": [
                10384,
                560
            ],
            "id": "73613599-f333-4079-a228-1dc2da333562"
        },
        {
            "parameters": {
                "content": "## Envio de mensagens",
                "height": 480,
                "width": 1180,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                9904,
                448
            ],
            "id": "e92cf556-0943-4be3-8c3e-44aac5d800a7",
            "name": "Sticky Note10"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://inteligentte.uazapi.com/send/text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "token",
                            "value": "c5492fab-b862-4cb1-b54b-ab0395920e3a"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "558388891828"
                        },
                        {
                            "name": "text",
                            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `preencha com os dados do cliente. `, 'string') }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                9920,
                1520
            ],
            "id": "c346e0fe-4499-43cd-9416-13ace555b1d0",
            "name": "envio_interno"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "rota",
                            "value": "enviar_msg"
                        },
                        {
                            "name": "token",
                            "value": "={{ JSON.parse($node[\"Buscar_Token_Growhats\"].json.data).token_Integracao }}"
                        },
                        {
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"text\",\n  \"enviar_whatsap\": \"Y\",\n  \"conteudo\": \"{{ $fromAI('text', 'Preencha com o resumo dos dados e da qualificação do lead.', 'string') }}\",\n  \"nome_atendente\": \"Eli Gentil\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequestTool",
            "typeVersion": 4.3,
            "position": [
                9488,
                960
            ],
            "id": "a7361150-dcf1-4e42-afa4-a0f212af8109",
            "name": "envio_interno1"
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ \"pausa:inteligentte_sdr:\" + (() => { let p = ($json.body?.from || $json.body?.phone || '').toString().replace(/\\D/g, ''); if (p.length === 12 && p.startsWith('55') && parseInt(p[4]) > 2) { p = p.substring(0, 4) + '9' + p.substring(4); } return p; })() }}",
                "value": "pausa_humana",
                "expire": true,
                "ttl": 86400
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                1008,
                528
            ],
            "id": "a7ada2fb-cd6f-467d-81f1-43069b857686",
            "name": "pausa",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "is_paused",
                "key": "={{ 'pausa:inteligentte_sdr:' + $('NORM2').item.json.number_clean }}",
                "options": {}
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                3344,
                720
            ],
            "id": "7dcdefc1-206c-4a1a-869e-a5336956c046",
            "name": "Redis",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "03080613-e78c-41b1-b6b9-a0505ed335c1",
                            "leftValue": "={{ $json.is_paused || \"vazio\" }}",
                            "rightValue": "pausa_humana",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                3568,
                720
            ],
            "id": "a9673631-c951-4a43-bf70-4e1b4f9fa393",
            "name": "se esta pausado if2"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                3344,
                544
            ],
            "id": "436cf89d-4c6d-45a2-b086-097892c29653",
            "name": "No Operation, do nothing"
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
            "typeVersion": 1,
            "position": [
                9120,
                1520
            ],
            "id": "88262fdb-a326-4d6b-a532-29e33c2ede9f",
            "name": "DeepSeek Chat Model1",
            "credentials": {
                "deepSeekApi": {
                    "id": "o8KdtnEuS12UtF9C",
                    "name": "DeepSeek account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1008,
                928
            ],
            "id": "e5bd2b77-0b84-4584-8ef0-da3cfbf7c1f5",
            "name": "No Operation, do nothing1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "2a567b4e-bb5c-4d8d-be94-6c2baf00508d",
                            "leftValue": "={{ $json.dedupe_hit || '' }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1008,
                720
            ],
            "id": "02ae0a20-1b07-4a0d-b9b8-5b75ad9540ac",
            "name": "If"
        },
        {
            "parameters": {
                "content": "## BLOCO DE REGISTRO (CORRIGIDO v3)\nRoda APÓS buffer. Busca SEQUENCIAL: tel → nome.\nLock Redis anti-race. Planilha com upsert.",
                "height": 900,
                "width": 3140,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                5824,
                224
            ],
            "id": "3558da8d-4936-4630-a78e-ed6fcc8e4b7e",
            "name": "Sticky Note - Registro"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1Y2uvOs7bA4OCi_fGDQ8aTHGekwDGB8LlGlbnOKlH6Mw",
                    "mode": "list",
                    "cachedResultName": "Task ClickUp clientes Inteligentte -  Agente n8n"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Página1"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "Telefone",
                            "lookupValue": "={{ $('NORM2').item.json.number }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                6528,
                608
            ],
            "id": "dd51d73a-2ec4-4c66-b241-52263232abe7",
            "name": "Buscar Lead na Planilha",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "hIOYtZxok3Mk1fVc",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "lead-existe",
                            "leftValue": "={{ $node[\"Buscar Lead na Planilha\"].json[\"Telefone\"] ?? '' }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                6752,
                608
            ],
            "id": "7826f430-52ca-4d97-9125-a3a4982d3497",
            "name": "Lead já existe?"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "team": "9013068617",
                "space": "90131733557",
                "folder": "=90138132377",
                "list": "=901317238585",
                "name": "=Novo Cliente - {{ $('NORM2').item.json.name }}",
                "additionalFields": {
                    "content": "=NOME: {{ $('NORM2').item.json.name }}\nTELEFONE: {{ $('NORM2').item.json.number }}\nPrimeiro contato em: {{ $now.setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}",
                    "notifyAll": false,
                    "status": "=EM QUALIFICAÇÃO"
                }
            },
            "type": "n8n-nodes-base.clickUp",
            "typeVersion": 1,
            "position": [
                7408,
                864
            ],
            "id": "4461ec7c-b36c-4930-9b91-1bca3227e5d9",
            "name": "Criar Task ClickUp",
            "credentials": {
                "clickUpOAuth2Api": {
                    "id": "qpbsp5Ss19r6tBZh",
                    "name": "ClickUp account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1Y2uvOs7bA4OCi_fGDQ8aTHGekwDGB8LlGlbnOKlH6Mw",
                    "mode": "list",
                    "cachedResultName": "Task ClickUp clientes Inteligentte -  Agente n8n"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Página1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Nome do cliente": "={{ $('NORM2').item.json.name }}",
                        "Telefone": "={{ $('NORM2').item.json.number }}",
                        "ID da task": "={{ $json.id || 'SEM_TASK' }}"
                    },
                    "matchingColumns": [
                        "Telefone"
                    ],
                    "schema": [
                        {
                            "id": "Nome do cliente",
                            "displayName": "Nome do cliente",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Telefone",
                            "displayName": "Telefone",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "ID da task",
                            "displayName": "ID da task",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "E-mail",
                            "displayName": "E-mail",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                7632,
                864
            ],
            "id": "92b433bd-0004-48b9-a964-277851c142ec",
            "name": "Criar Linha na Planilha",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "hIOYtZxok3Mk1fVc",
                    "name": "Google Sheets account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "task-id-novo",
                            "name": "task_id",
                            "value": "={{ $('Criar Task ClickUp').item.json.id || 'SEM_TASK' }}",
                            "type": "string"
                        },
                        {
                            "id": "is-new-lead",
                            "name": "is_new_lead",
                            "value": true,
                            "type": "boolean"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                7840,
                864
            ],
            "id": "ebf6d371-01dd-4332-b065-8b9e9b9dc0f1",
            "name": "Set Task ID (Novo)"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "task-id-existente",
                            "name": "task_id",
                            "value": "={{ $('Buscar Lead na Planilha').item.json['ID da task'] || 'SEM_TASK' }}",
                            "type": "string"
                        },
                        {
                            "id": "is-new-lead-false",
                            "name": "is_new_lead",
                            "value": false,
                            "type": "boolean"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                6960,
                448
            ],
            "id": "3d99a858-f042-47c4-8371-c8d6b178ef61",
            "name": "Set Task ID (Existente)"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "check-task-id-valido",
                            "leftValue": "={{ $json.task_id }}",
                            "rightValue": "SEM_TASK",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                7184,
                448
            ],
            "id": "43291e5e-edc0-4c3b-93ed-7b33bc11e501",
            "name": "Task ID válido?"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "update",
                "id": "={{ $json.task_id }}",
                "updateFields": {
                    "content": "=NOME: {{ $('NORM2').item.json.name }}\nTELEFONE: {{ $('NORM2').item.json.number }}\nÚltimo contato em: {{ $now.setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}"
                }
            },
            "type": "n8n-nodes-base.clickUp",
            "typeVersion": 1,
            "position": [
                7408,
                304
            ],
            "id": "d0657876-10f6-455a-8d5a-96bdab94b21a",
            "name": "Atualizar Task ClickUp",
            "credentials": {
                "clickUpOAuth2Api": {
                    "id": "qpbsp5Ss19r6tBZh",
                    "name": "ClickUp account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "content": "## BUFFER DE MENSAGENS\n",
                "height": 460,
                "width": 2020,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                3808,
                608
            ],
            "id": "04fbee0f-b568-4cca-9d10-09e0550b612a",
            "name": "Sticky Note9"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "update_msg",
                            "name": "message",
                            "value": "={{ $json.full_message }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                8064,
                720
            ],
            "id": "bbe19115-04c9-4099-b147-57d09a1b1318",
            "name": "Atualiza Contexto1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "has_message",
                            "leftValue": "={{ $json.full_message }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                5360,
                720
            ],
            "id": "bcc040fb-ba14-4bff-9dd6-afedac179b45",
            "name": "Tem msg?1"
        },
        {
            "parameters": {
                "jsCode": "// Pega os dados que acabaram de vir do nó anterior (Limpar Buffer1 ou Redis2)\nconst input = items[0].json;\nconst mensagens = input.mensagens;\n\nif (!mensagens || (Array.isArray(mensagens) && mensagens.length === 0)) {\n  return [{ json: { full_message: null } }];\n}\n\nlet messagesArray = mensagens;\n\nif (typeof mensagens === 'string') {\n  try {\n    messagesArray = JSON.parse(mensagens);\n  } catch (e) {\n    messagesArray = [mensagens];\n  }\n}\n\nconst fullMessage = Array.isArray(messagesArray) ? messagesArray.join('\\n') : String(messagesArray);\n\nreturn [{\n  json: {\n    full_message: fullMessage,\n    // Em vez de buscar do NORM, vamos tentar pegar do input se ele existir\n    // ou deixar para o próximo nó tratar a falta do número\n    number_clean: input.number_clean || null \n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5152,
                720
            ],
            "id": "e0850ce9-4973-4a37-9fbd-2d74d4db941d",
            "name": "Unificar Texto1"
        },
        {
            "parameters": {
                "operation": "delete",
                "key": "={{ 'buffer:sdrinteligentte:' + $('NORM2').item.json.number_clean }}"
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                4928,
                720
            ],
            "id": "73d4458f-0e5a-4b73-950f-cc64093cb9aa",
            "name": "Limpar Buffer1",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "amount": 10
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                4048,
                720
            ],
            "id": "1425c053-716e-4c68-9ae2-c0375d88e14d",
            "name": "Espera 6s1",
            "webhookId": "fdaf1962-5a53-40a9-accc-971bc98207da"
        },
        {
            "parameters": {
                "operation": "push",
                "list": "={{ 'buffer:sdrinteligentte:' + $('NORM2').item.json.number_clean }}",
                "messageData": "={{ $('NORM2').item.json.message }}",
                "tail": true
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                3824,
                720
            ],
            "id": "1cd4c4a7-43fe-41c2-91d8-8260e7aa4967",
            "name": "Add to Buffer1",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "1b239b73-1b3a-4da8-8739-339e833b8bf6",
                            "leftValue": "={{ $json.mensagens.slice(-1)[0] }}",
                            "rightValue": "={{ $('NORM2').item.json.message }}",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                4704,
                720
            ],
            "id": "71f0be7d-277e-49dd-864a-6ffb145b0567",
            "name": "If1"
        },
        {
            "parameters": {
                "jsCode": "// Percorre todos os itens da lista (mesmo que seja só 1)\nreturn items.map(i => {\n  let msgs = i.json.mensagens;\n\n  // Se for texto (string), tenta converter\n  if (typeof msgs === 'string') {\n    try {\n      // Tenta fazer o parse do JSON (ex: \"['oi', 'tudo bem']\")\n      msgs = JSON.parse(msgs);\n    } catch (e) {\n      // Se der erro no parse (ex: texto puro \"intervencao_humana\"), \n      // transforma em um array com esse único texto.\n      msgs = [msgs];\n    }\n  }\n\n  // Garante que se veio null ou undefined, vira array vazio\n  if (!msgs) {\n    msgs = [];\n  }\n\n  // Atualiza o item e retorna\n  i.json.mensagens = msgs;\n  return i;\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4480,
                720
            ],
            "id": "d778edb5-4ac6-4a53-89d6-137ae473240e",
            "name": "Code in JavaScript"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT\n  EXISTS (\n    SELECT 1\n    FROM public.sdrinteligentte_leads\n    WHERE phone = '{{ $(\"NORM2\").item.json.number_clean }}'\n  ) AS lead_exists,\n  EXISTS (\n    SELECT 1\n    FROM public.sdrinteligentte_leads\n    WHERE phone = '{{ $(\"NORM2\").item.json.number_clean }}'\n      AND (last_seen_at AT TIME ZONE 'America/Fortaleza')::date\n          = (NOW() AT TIME ZONE 'America/Fortaleza')::date\n  ) AS falou_hoje;\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                8288,
                720
            ],
            "id": "d3687bda-ee9e-4bdb-b7a6-796a41b9fb62",
            "name": "Execute a SQL query2",
            "credentials": {
                "postgres": {
                    "id": "zpXxWuWJodQsLQpp",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "a8fb73b8-cd40-45b2-8203-a725651610f5",
                            "leftValue": "={{ $json.falou_hoje }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                8512,
                720
            ],
            "id": "167bc6d3-907e-4336-a000-3c7754b5f419",
            "name": "Lead existe hoje"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO public.sdrinteligentte_leads (name, phone, first_seen_at, last_seen_at)\nVALUES (\n  '{{ ($(\"NORM2\").item.json.name || \"\").replace(/'/g, \"''\") }}',\n  '{{ $(\"NORM2\").item.json.number }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  last_seen_at = NOW();\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                8720,
                928
            ],
            "id": "05d8c76b-95a5-495e-9756-2eab6fb96a60",
            "name": "adiciona lead1",
            "credentials": {
                "postgres": {
                    "id": "zpXxWuWJodQsLQpp",
                    "name": "Postgres account 2"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "mensagens",
                "key": "={{ 'buffer:sdrinteligentte:' + $('NORM2').item.json.number_clean }}",
                "options": {}
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                4272,
                720
            ],
            "id": "db8010d1-33c3-4e86-8e96-9131c0aa2873",
            "name": "Redis4",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                4704,
                928
            ],
            "id": "54cf7907-fdb3-400c-9352-bfecb4bf7110",
            "name": "No Operation, do nothing3"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "cffab88a-2377-4d5e-8588-a942b0476c7f",
                            "name": "conhecimento",
                            "value": "SOBRE A INTELIGENTTE LAB A Inteligentte Lab é um Laboratório de Inovação em IA especializado em automações inteligentes que aumentam a performance de times de atendimento e otimizam processos operacionais. Nós transformamos negócios com soluções de inteligência artificial 100% personalizadas, desenvolvidas do zero para atender as demandas únicas de cada cliente.    MISSÃO E PROPÓSITO Nossa missão é transformar o atendimento em uma experiência contínua, prática e lucrativa. Acreditamos que tecnologia e simplicidade caminham juntas para que nenhum lead ou oportunidade seja perdido. O objetivo é transformar tarefas operacionais em processos inteligentes, para que você tenha mais tempo para o que importa: crescer o seu negócio.     O FATOR INTELIGENTTE (NOSSOS DIFERENCIAIS)  100% Customização: Não trabalhamos com soluções prontas. Cada negócio é único, e a solução também deve ser. Cada projeto é desenvolvido do zero para atender perfeitamente às suas necessidades específicas.     Resultados Comprovados: Nossos números validam nossa eficácia, com 95% de satisfação do cliente , mais de 50 projetos entregues , uma redução média de 70% nos custos operacionais e um Retorno sobre Investimento (ROI) alcançado em menos de 3 meses. O retorno médio no primeiro ano é de 300%.        Time Especializado e Suporte 24/7: Contamos com experts em IA dedicados ao sucesso do seu projeto e uma equipe especializada disponível sempre que você precisar.    Segurança Garantida: Usamos tecnologia de ponta para garantir a proteção total dos seus dados e dos seus clientes.  POR QUE ESCOLHER AUTOMAÇÕES COM IA? (A COMPARAÇÃO) Nossos agentes autônomos superam o atendimento humano tradicional em pontos cruciais:   Disponibilidade: Operam 24 horas por dia, 7 dias por semana , sem custo adicional fora do horário comercial.    Velocidade de Resposta: A resposta é imediata, em segundos.   Custo: O custo é fixo e previsível, ao contrário de salários e encargos que variam.    Escalabilidade: Atendem múltiplos clientes ao mesmo tempo, sem sobrecarga ou perda de qualidade.     Padronização: O atendimento é 100% padronizado e consistente, sem depender do humor ou cansaço de uma pessoa.   Risco de Falha: Seguem padrões pré-configurados, eliminando o risco de erro humano.   Treinamento: Precisam ser treinados apenas uma vez e aprendem com o uso, eliminando a necessidade de treinamento constante.   Organização de Dados: A organização de dados e agenda é integrada, automatizada e precisa.  SOLUÇÕES QUE ENTREGAMOS  Agentes autônomos para atendimento via WhatsApp, Instagram e site.  Agendamento automático de consultas, reuniões e serviços.  Qualificação de leads e pré-venda de forma inteligente.  Suporte e respostas a dúvidas frequentes com IA.  Recepção e automação de pedidos para restaurantes e e-commerces.   Integrações com planilhas, CRMs e sistemas próprios.  Automação de processos como entrega de conteúdo, lembretes de prazos e atualizações de status de pedidos.  SEGMENTOS ATENDIDOS Nossas soluções são adaptáveis a diversos segmentos, incluindo: Clínicas e Consultórios , Imobiliárias , E-commerce , Restaurantes , Salões de Beleza , Educação , Academias , Clínicas Veterinárias , Escritórios de Advocacia , Transportadoras , Concessionárias , Consultorias, e muito mais.",
                            "type": "string"
                        },
                        {
                            "id": "c8747d9d-3747-4ae8-9bca-f219e5cc0ca4",
                            "name": "feriados",
                            "value": "Feriados úteis em João Pessoa — de 1º de setembro de 2025 até 1º de setembro de 2027  2025  24 de junho (terça-feira) – São João (feriado municipal)  05 de agosto (terça-feira) – Aniversário da Paraíba & de João Pessoa – Nossa Senhora das Neves  08 de dezembro (segunda-feira) – Nossa Senhora da Imaculada Conceição (feriado municipal)  25 de dezembro (quinta-feira) – Natal  2026  01 de maio (sexta-feira) – Dia do Trabalho  04 de junho (quinta-feira) – Corpus Christi  24 de junho (quarta-feira) – São João (feriado municipal)  05 de agosto (quarta-feira) – Aniversário de João Pessoa / Fundação da Paraíba  08 de dezembro (terça-feira) – Nossa Senhora da Imaculada Conceição (feriado municipal)  2027 (até 1º de setembro)  01 de janeiro (sexta-feira) – Confraternização Universal  26 de março (sexta-feira) – Paixão de Cristo (Sexta-feira Santa)  21 de abril (quarta-feira) – Tiradentes  27 de maio (quinta-feira) – Corpus Christi  24 de junho (quinta-feira) – São João (feriado municipal)  05 de agosto (quinta-feira) – Aniversário de João Pessoa / Fundação do Estado",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                9008,
                720
            ],
            "id": "f1635f65-7c6a-4155-b85c-57c6723d1cd4",
            "name": "conhecimento"
        },
        {
            "parameters": {
                "descriptionType": "manual",
                "toolDescription": "Use esta ferramenta para PAUSAR a IA e passar a conversa para um humano. Chame-a SEMPRE que: (1) o lead falar em financeiro, boleto, cobrança ou pagamento; (2) o lead disser claramente que NÃO tem interesse / não tem fit (Cenário D); (3) o lead disser que vai pensar / talvez depois, após você enviar o link (Cenário E); (4) o lead for ofensivo ou fugir totalmente do contexto de vendas; (5) o lead pedir explicitamente para falar com uma pessoa/atendente. Chame apenas uma vez por conversa.",
                "operation": "set",
                "key": "={{ 'pausa:inteligentte_sdr:' + $('NORM2').item.json.number_clean }}",
                "value": "pausa_humana",
                "expire": true,
                "ttl": 86400
            },
            "type": "n8n-nodes-base.redisTool",
            "typeVersion": 1,
            "position": [
                9664,
                960
            ],
            "id": "de7686fe-5186-4ef1-b169-7b7069b35356",
            "name": "pausar_ia",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "norm-name",
                            "name": "name",
                            "value": "={{ $('Webhook').item.json.body?.pushName || $('Webhook').item.json.body?.senderName || $('Webhook').item.json.body?.nome_contato || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-number",
                            "name": "number",
                            "value": "={{ (() => { let phone = ($('Webhook').item.json.body?.from || $('Webhook').item.json.body?.phone || $('Webhook').item.json.body?.cel_contato || '').toString().replace(/\\D/g, ''); if (phone.length === 12 && phone.startsWith('55') && parseInt(phone[4]) > 2) { phone = phone.substring(0, 4) + '9' + phone.substring(4); } return phone; })() }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-number-clean",
                            "name": "number_clean",
                            "value": "={{ (() => { let phone = ($('Webhook').item.json.body?.from || $('Webhook').item.json.body?.phone || $('Webhook').item.json.body?.cel_contato || '').toString().replace(/\\D/g, ''); if (phone.length === 12 && phone.startsWith('55') && parseInt(phone[4]) > 2) { phone = phone.substring(0, 4) + '9' + phone.substring(4); } return phone; })() }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-message",
                            "name": "message",
                            "value": "={{ (() => { try { let res = $('Transcribe a recording').item.json.text; if (res) return res; } catch(e){} try { let res = $('ANALISAR IMAGEM').item.json.content; if (res) return res; } catch(e){} try { let res = $('PDF -> TEXTO').item.json.text; if (res) return res; } catch(e){} return $('Webhook').item.json.body?.content || $('Webhook').item.json.body?.caption || ''; })() }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-protocolo",
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-id-contato",
                            "name": "id_contato",
                            "value": "={{ $('Webhook').item.json.body?.id_contato || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-msg-id",
                            "name": "msg_id",
                            "value": "={{ $('Webhook').item.json.body?.id || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-media-id",
                            "name": "media_id",
                            "value": "={{ $('Webhook').item.json.body?.conteudo_buffer?.id || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "norm-mimetype",
                            "name": "mimetype",
                            "value": "={{ $('Webhook').item.json.body?.conteudo_buffer?.mimetype || '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2688,
                720
            ],
            "id": "774ee1ee-aefa-466e-9d9d-cc0ca9a3b45d",
            "name": "NORM2"
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ 'lock:clickup:sdrinteligentte:' + $('NORM2').item.json.number_clean }}",
                "value": "={{ $now.toISO() }}",
                "expire": true,
                "ttl": 30
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                5872,
                720
            ],
            "id": "c790c0c4-4de8-465a-b113-7c200afb3c27",
            "name": "Lock ClickUp",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "propertyName": "lock_value",
                "key": "={{ 'lock:clickup:sdrinteligentte:' + $('NORM2').item.json.number_clean }}",
                "options": {}
            },
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                6080,
                720
            ],
            "id": "837da9b5-c068-4a41-9bbc-80f5aebb52e8",
            "name": "Check Lock ClickUp",
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "lock-check",
                            "leftValue": "={{ $json.lock_value || '' }}",
                            "rightValue": "={{ $('Lock ClickUp').item.json.value || 'x' }}",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                6304,
                720
            ],
            "id": "11880182-cc2f-44bc-82e9-5cca6585aab3",
            "name": "Lock adquirido?"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1Y2uvOs7bA4OCi_fGDQ8aTHGekwDGB8LlGlbnOKlH6Mw",
                    "mode": "list",
                    "cachedResultName": "Task ClickUp clientes Inteligentte -  Agente n8n"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Página1"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "Nome do cliente",
                            "lookupValue": "={{ $('NORM2').item.json.name }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                6960,
                672
            ],
            "id": "73100845-6d62-4a23-91e0-664e12c10c3c",
            "name": "Buscar Lead por Nome",
            "alwaysOutputData": true,
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "hIOYtZxok3Mk1fVc",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "nome-existe",
                            "leftValue": "={{ $json.Telefone ?? '' }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                7184,
                672
            ],
            "id": "becfea27-f52f-4e5b-9755-30f2fb01b82a",
            "name": "Achou por nome?"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "task-id-nome",
                            "name": "task_id",
                            "value": "={{ $('Buscar Lead por Nome').item.json['ID da task'] || 'SEM_TASK' }}",
                            "type": "string"
                        },
                        {
                            "id": "is-new-lead-nome",
                            "name": "is_new_lead",
                            "value": false,
                            "type": "boolean"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                7408,
                672
            ],
            "id": "b5397af5-a28b-4ab6-a3b8-7a3a145aa834",
            "name": "Set Task ID (Por Nome)"
        },
        {
            "parameters": {
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "token",
                            "value": "={{ JSON.parse($node[\"Buscar_Token_Growhats\"].json.data).token_Integracao }}"
                        },
                        {
                            "name": "rota",
                            "value": "baixar_anexo"
                        },
                        {
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo }}"
                        },
                        {
                            "name": "Idmsg",
                            "value": "={{ $('Webhook').item.json.body?.conteudo_buffer?.id }}"
                        },
                        {
                            "name": "Ismobile",
                            "value": "Y"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1792,
                384
            ],
            "id": "84e382b6-f900-4504-9480-4ad7da8c0d41",
            "name": "BAIXAR IMG"
        },
        {
            "parameters": {
                "jsCode": "const mime =\n  $('Webhook').first().json.body?.conteudo_buffer?.mimetype\n  || 'image/jpeg';\n\nlet ext = (mime.split('/')[1] || 'jpg').toLowerCase();\nif (ext === 'jpeg') ext = 'jpg';\n\nfor (const item of items) {\n  if (item.binary?.file) {\n    item.binary.file.fileName = `imagem.${ext}`;\n    item.binary.file.mimeType = mime;\n    item.binary.file.fileExtension = ext;\n  }\n}\nreturn items;\n\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2224,
                384
            ],
            "id": "8e70f1b9-a8d5-40ab-9c3b-822a2444c8cb",
            "name": "Code in JavaScript3"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "base64Data",
                "binaryPropertyName": "file",
                "options": {}
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                2000,
                384
            ],
            "id": "59ffca68-d3b7-4a35-8482-03c6852c4f73",
            "name": "Convert to File2"
        },
        {
            "parameters": {
                "jsCode": "for (const item of items) {\n  if (item.binary?.file) {\n    item.binary.file.fileName = 'arquivo.pdf';\n    item.binary.file.mimeType = 'application/pdf';\n    item.binary.file.fileExtension = 'pdf';\n  }\n}\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2224,
                912
            ],
            "id": "1f3868cd-c4e7-468c-bed9-b3da61c6267c",
            "name": "Code in JavaScript2"
        },
        {
            "parameters": {
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "token",
                            "value": "={{ JSON.parse($node[\"Buscar_Token_Growhats\"].json.data).token_Integracao }}"
                        },
                        {
                            "name": "rota",
                            "value": "baixar_anexo"
                        },
                        {
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo }}"
                        },
                        {
                            "name": "Idmsg",
                            "value": "={{ $('Webhook').item.json.body?.conteudo_buffer?.id }}"
                        },
                        {
                            "name": "Ismobile",
                            "value": "Y"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1792,
                912
            ],
            "id": "6cbedeae-7e0c-479f-b243-097c3a2933a6",
            "name": "BAIXAR PDF"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "base64",
                "binaryPropertyName": "file",
                "options": {}
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                2000,
                912
            ],
            "id": "43d1b51f-d82d-4f75-9717-7a2d94009810",
            "name": "Convert to File1"
        },
        {
            "parameters": {
                "jsCode": "for (const item of items) {\n  if (item.binary?.file) {\n    item.binary.file.fileName = 'audio.ogg';\n    item.binary.file.mimeType = 'audio/ogg';\n    item.binary.file.fileExtension = 'ogg';\n  }\n}\nreturn items;\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2224,
                560
            ],
            "id": "74db9f6d-8b4f-4e81-957b-7573d3c01ab2",
            "name": "Code in JavaScript1"
        },
        {
            "parameters": {
                "operation": "toBinary",
                "sourceProperty": "base64Data",
                "binaryPropertyName": "file",
                "options": {}
            },
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                2000,
                560
            ],
            "id": "8f5968f3-fe87-4eb9-b375-7f2909c61300",
            "name": "Convert to File"
        },
        {
            "parameters": {
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "token",
                            "value": "={{ JSON.parse($node[\"Buscar_Token_Growhats\"].json.data).token_Integracao }}"
                        },
                        {
                            "name": "rota",
                            "value": "baixar_anexo"
                        },
                        {
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo }}"
                        },
                        {
                            "name": "Idmsg",
                            "value": "={{ $('Webhook').item.json.body?.conteudo_buffer?.id }}"
                        },
                        {
                            "name": "Ismobile",
                            "value": "Y"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                1792,
                560
            ],
            "id": "24f4cdb2-d4c7-4413-8889-e392df57b40e",
            "name": "BAIXAR AUDIO"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "2b31c7b1-f0d9-472f-b894-cd0d36859f16",
                                        "leftValue": "={{ $('Webhook').item.json.body.event }}",
                                        "rightValue": "on-message",
                                        "operator": {
                                            "type": "string",
                                            "operation": "notEquals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Lixo"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "1327002c-9c5f-4ba8-9478-715e9c138a72",
                                        "leftValue": "={{ $('Webhook').item.json.body.type }}",
                                        "rightValue": "image",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "imagem"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "d6724588-dd25-4dc7-a901-ee7810cb3492",
                                        "leftValue": "={{ $('Webhook').item.json.body.type }}",
                                        "rightValue": "audio",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "audio"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Webhook').item.json.body.type }}",
                                        "rightValue": "text",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "9740b7ca-873b-447f-a05f-292130ac4887"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "texto"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "5bc14069-cbfa-4d66-bc27-1fde29956e65",
                                        "leftValue": "={{ $('Webhook').item.json.body.type }}",
                                        "rightValue": "document",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "documento"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "loose",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "15d0ad1e-e951-40e4-a7b0-b4afdceead02",
                                        "leftValue": "={{ $('Webhook').item.json.body.type }}",
                                        "rightValue": "video",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "texto"
                        }
                    ]
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                1568,
                720
            ],
            "id": "22d7e8e7-e4f3-4366-bf4c-e13f3eba7df7",
            "name": "TIPO DA MENSAGEM1"
        },
        {
            "parameters": {
                "operation": "pdf",
                "binaryPropertyName": "file",
                "options": {}
            },
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                2448,
                912
            ],
            "id": "7d460d8a-1929-433b-a339-0eb2d2fbeb5f",
            "name": "PDF -> TEXTO"
        },
        {
            "parameters": {
                "resource": "image",
                "operation": "analyze",
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "GPT-4O-MINI"
                },
                "text": "Analise esta imagem enviada por um lead da Inteligentte. Descreva objetivamente o objeto principal ou a situação retratada (ex.: print de conversa, captura de tela de um sistema, foto de documento, logo de empresa, screenshot de resultado/relatório).",
                "inputType": "base64",
                "binaryPropertyName": "file",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                2448,
                384
            ],
            "id": "f1f0d0f1-5311-432b-ac37-95df3bec9666",
            "name": "ANALISAR IMAGEM",
            "credentials": {
                "openAiApi": {
                    "id": "YQcErYyLMdPUq2q6",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "resource": "audio",
                "operation": "transcribe",
                "binaryPropertyName": "file",
                "options": {
                    "language": "pt"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                2448,
                560
            ],
            "id": "12a7350e-ae73-4b49-b216-2e5f3855c95f",
            "name": "Transcribe a recording",
            "credentials": {
                "openAiApi": {
                    "id": "YQcErYyLMdPUq2q6",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "rota",
                            "value": "enviar_msg"
                        },
                        {
                            "name": "token",
                            "value": "={{ JSON.parse($node[\"Buscar_Token_Growhats\"].json.data).token_Integracao }}"
                        },
                        {
                            "name": "protocolo",
                            "value": "={{ $('Webhook').item.json.body?.protocolo }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ type: \"text\", enviar_whatsap: \"Y\", conteudo: $('Loop Over Items1').item.json.output, nome_atendente: \"Eli Gentil\" }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                10832,
                560
            ],
            "id": "b4ee6849-e86b-4242-938a-92e4e2d754a6",
            "name": "ENVIO DE RESPOSTA1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "3f5f3c11-ed80-4099-b688-5412bd733a63",
                            "leftValue": "={{ $json.body.event === 'on-message' }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "b7c54d11-0000-4aaa-bbbb-000000000002",
                            "leftValue": "={{ $json.body.isgroup === true || $json.body.isGroupMsg === true }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "false",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "c8e54d11-0000-4aaa-bbbb-000000000003",
                            "leftValue": "={{ ($json.body.from || $json.body.cel_contato || '') === ($json.body.destiny || $json.body.cel_conectado || '') }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "false",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "d9f54d11-0000-4aaa-bbbb-000000000004",
                            "leftValue": "={{ String($json.body.id || '') }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                480,
                720
            ],
            "id": "0b857202-5ed3-4dab-8909-7487ef1b6c76",
            "name": "Confere se não é grupo1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "146ab74b-b4c3-4b94-a725-cbc702442d6c",
                            "leftValue": "={{ (!!$json.body.from && !!$json.body.destiny && $json.body.from === $json.body.destiny) || (!!$json.body.cel_contato && !!$json.body.cel_conectado && $json.body.cel_contato === $json.body.cel_conectado) }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                768,
                720
            ],
            "id": "9e486a00-cb3c-40a0-a34f-94bf7c64460d",
            "name": "Confere se respondeu não manualmente."
        },
        {
            "parameters": {
                "url": "https://inteligentte-dashboard-seven.vercel.app/api/agent/status",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "1c63f09100552dbd4e0640afafe033c201084e480504ef8936c5e0720788ea88"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                2912,
                720
            ],
            "id": "1fabaaff-8be5-44e0-a7cc-276bf5755353",
            "name": "STATUS IA GERAL"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "a1f00002-1111-4000-8000-000000000002",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "pausa_geral",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                3120,
                720
            ],
            "id": "644a1133-6a24-4e36-b7c8-65b14afd05cc",
            "name": "IA Geral Pausada?"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://inteligentte-dashboard-seven.vercel.app/api/events",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "1c63f09100552dbd4e0640afafe033c201084e480504ef8936c5e0720788ea88"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_type\": \"message.received\",\n  \"payload\": {\n    \"phone\": \"{{ $('NORM2').item.json.number_clean }}\",\n    \"contact_name\": \"{{ $('NORM2').item.json.name }}\",\n    \"channel\": \"whatsapp\",\n    \"external_id\": \"{{ $('NORM2').item.json.number_clean }}\",\n    \"content\": \"{{ $('Unificar Texto1').item.json.full_message }}\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                5584,
                720
            ],
            "id": "4b0a1c1a-bb15-47cd-a338-26e998907554",
            "name": "DASHBOARD - Mensagem recebida",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://inteligentte-dashboard-seven.vercel.app/api/events",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "1c63f09100552dbd4e0640afafe033c201084e480504ef8936c5e0720788ea88"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_type\": \"message.sent\",\n  \"payload\": {\n    \"phone\": \"{{ $('NORM2').item.json.number_clean }}\",\n    \"channel\": \"whatsapp\",\n    \"origin\": \"ai\",\n    \"content\": {{ JSON.stringify($json.output) }}\n  }\n}\n",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                9952,
                528
            ],
            "id": "0be5bc57-b46f-495b-ae66-10dfef3a6be9",
            "name": "DASHBOARD - Mensagem enviada IA",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://inteligentte-dashboard-seven.vercel.app/api/events",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "1c63f09100552dbd4e0640afafe033c201084e480504ef8936c5e0720788ea88"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"event_type\": \"conversation.escalated\",\n  \"payload\": {\n    \"phone\": \"{{ (() => { let p = ($('Webhook').item.json.body?.from || $('Webhook').item.json.body?.phone || '').toString().replace(/\\D/g, ''); if (p.length === 12 && p.startsWith('55') && parseInt(p[4]) > 2) { p = p.substring(0, 4) + '9' + p.substring(4); } return p; })() }}\",\n    \"channel\": \"whatsapp\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1248,
                528
            ],
            "id": "0e9d18e9-9682-4f00-a94c-7c60932eb7e5",
            "name": "DASHBOARD - Transbordo humano",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "url": "https://chat.inteligentte.com.br/api_system/api_system.php",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "ce9720cc45816bd57a31fe30b45ff6ec48e5fd41"
                        },
                        {
                            "name": "rota",
                            "value": "buscar_token"
                        },
                        {
                            "name": "login",
                            "value": "adm@quinzecomunicacao.com"
                        },
                        {
                            "name": "pswd",
                            "value": "102030"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                9232,
                720
            ],
            "id": "670f8917-343e-4cbf-8cc9-bdea0f20fca3",
            "name": "Buscar_Token_Growhats"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "manual-ack-1",
                            "leftValue": "={{ ($json.body?.event === 'on-ack' || $json.body?.event === 'on-message') && $json.body?.fromMe === true && $json.body?.isgroup === false && ( (!!$json.body?.login_atendente) || (!$json.body?.protocolo) ) }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "id": "9f7a3c84-c7c4-4c46-8ada-8b2e49164baa",
            "name": "Resposta manual atendente?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                240,
                720
            ]
        },
        {
            "parameters": {
                "operation": "set",
                "key": "={{ \"pausa:inteligentte_sdr:\" + (() => { let p = ($json.body?.to || '').toString().replace(/\\D/g, ''); if (p.length === 12 && p.startsWith('55') && parseInt(p[4]) > 2) { p = p.substring(0, 4) + '9' + p.substring(4); } return p; })() }}",
                "value": "pausa_humana",
                "expire": true,
                "ttl": 86400
            },
            "id": "cda6166f-2c9a-428f-ba4d-9cb64b8cd340",
            "name": "pausa_manual",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [
                480,
                528
            ],
            "credentials": {
                "redis": {
                    "id": "7NRovKjpWM8yKReN",
                    "name": "Redis account"
                }
            }
        }
    ],
    "connections": {
        "Agent": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "DASHBOARD - Mensagem enviada IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "agente_calendario": {
            "ai_tool": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Create an event in Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete an event in Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many events in Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Resposta manual atendente?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many events in Google Calendar1": {
            "ai_tool": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory1": {
            "ai_memory": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "ENVIO DE RESPOSTA1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items1": {
            "main": [
                [],
                [
                    {
                        "node": "Replace Me1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Replace Me1": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "envio_interno": {
            "ai_tool": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "envio_interno1": {
            "ai_tool": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "pausa": {
            "main": [
                [
                    {
                        "node": "DASHBOARD - Transbordo humano",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Redis": {
            "main": [
                [
                    {
                        "node": "se esta pausado if2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "se esta pausado if2": {
            "main": [
                [
                    {
                        "node": "No Operation, do nothing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Add to Buffer1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "agente_calendario",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Buscar_Token_Growhats",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Operation, do nothing1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Lead na Planilha": {
            "main": [
                [
                    {
                        "node": "Lead já existe?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lead já existe?": {
            "main": [
                [
                    {
                        "node": "Set Task ID (Existente)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Buscar Lead por Nome",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Criar Task ClickUp": {
            "main": [
                [
                    {
                        "node": "Criar Linha na Planilha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Criar Linha na Planilha": {
            "main": [
                [
                    {
                        "node": "Set Task ID (Novo)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Task ID (Novo)": {
            "main": [
                [
                    {
                        "node": "Atualiza Contexto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Task ID (Existente)": {
            "main": [
                [
                    {
                        "node": "Task ID válido?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task ID válido?": {
            "main": [
                [
                    {
                        "node": "Atualizar Task ClickUp",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Atualiza Contexto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Atualizar Task ClickUp": {
            "main": [
                [
                    {
                        "node": "Atualiza Contexto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Atualiza Contexto1": {
            "main": [
                [
                    {
                        "node": "Execute a SQL query2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tem msg?1": {
            "main": [
                [
                    {
                        "node": "DASHBOARD - Mensagem recebida",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unificar Texto1": {
            "main": [
                [
                    {
                        "node": "Tem msg?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limpar Buffer1": {
            "main": [
                [
                    {
                        "node": "Unificar Texto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Espera 6s1": {
            "main": [
                [
                    {
                        "node": "Redis4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Buffer1": {
            "main": [
                [
                    {
                        "node": "Espera 6s1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If1": {
            "main": [
                [
                    {
                        "node": "Limpar Buffer1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Operation, do nothing3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "If1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query2": {
            "main": [
                [
                    {
                        "node": "Lead existe hoje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lead existe hoje": {
            "main": [
                [
                    {
                        "node": "conhecimento",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "adiciona lead1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "adiciona lead1": {
            "main": [
                [
                    {
                        "node": "conhecimento",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Redis4": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "conhecimento": {
            "main": [
                [
                    {
                        "node": "Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "pausar_ia": {
            "ai_tool": [
                [
                    {
                        "node": "Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "NORM2": {
            "main": [
                [
                    {
                        "node": "STATUS IA GERAL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lock ClickUp": {
            "main": [
                [
                    {
                        "node": "Check Lock ClickUp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Lock ClickUp": {
            "main": [
                [
                    {
                        "node": "Lock adquirido?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lock adquirido?": {
            "main": [
                [
                    {
                        "node": "Buscar Lead na Planilha",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Atualiza Contexto1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Lead por Nome": {
            "main": [
                [
                    {
                        "node": "Achou por nome?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Achou por nome?": {
            "main": [
                [
                    {
                        "node": "Set Task ID (Por Nome)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Criar Task ClickUp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Task ID (Por Nome)": {
            "main": [
                [
                    {
                        "node": "Task ID válido?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BAIXAR IMG": {
            "main": [
                [
                    {
                        "node": "Convert to File2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript3": {
            "main": [
                [
                    {
                        "node": "ANALISAR IMAGEM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File2": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript2": {
            "main": [
                [
                    {
                        "node": "PDF -> TEXTO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BAIXAR PDF": {
            "main": [
                [
                    {
                        "node": "Convert to File1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File1": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript1": {
            "main": [
                [
                    {
                        "node": "Transcribe a recording",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert to File": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BAIXAR AUDIO": {
            "main": [
                [
                    {
                        "node": "Convert to File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TIPO DA MENSAGEM1": {
            "main": [
                [],
                [
                    {
                        "node": "BAIXAR IMG",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BAIXAR AUDIO",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "NORM2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BAIXAR PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "NORM2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PDF -> TEXTO": {
            "main": [
                [
                    {
                        "node": "NORM2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ANALISAR IMAGEM": {
            "main": [
                [
                    {
                        "node": "NORM2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transcribe a recording": {
            "main": [
                [
                    {
                        "node": "NORM2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ENVIO DE RESPOSTA1": {
            "main": [
                [
                    {
                        "node": "Loop Over Items1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confere se não é grupo1": {
            "main": [
                [
                    {
                        "node": "Confere se respondeu não manualmente.",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confere se respondeu não manualmente.": {
            "main": [
                [
                    {
                        "node": "pausa",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "STATUS IA GERAL": {
            "main": [
                [
                    {
                        "node": "IA Geral Pausada?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA Geral Pausada?": {
            "main": [
                [
                    {
                        "node": "No Operation, do nothing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Redis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DASHBOARD - Mensagem recebida": {
            "main": [
                [
                    {
                        "node": "Lock ClickUp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar_Token_Growhats": {
            "main": [
                [
                    {
                        "node": "TIPO DA MENSAGEM1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Resposta manual atendente?": {
            "main": [
                [
                    {
                        "node": "pausa_manual",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Confere se não é grupo1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "pausa_manual": {
            "main": [
                [
                    {
                        "node": "DASHBOARD - Transbordo humano",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "2fcdfa165a2d01c730e2958b43dd83581e2e0c8a0ce9fb8cbecfbf54127c6890"
    }
}